form {
  background-color: purple;
  padding: 15px;
  align-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5%;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

label {
  background-color: white;
  color: black;
  border-radius: 15px;
  text-align: center;
  font-weight: bolder;
  line-height: 40px;
  border: 5px solid black;
  width: 100%;
  margin-bottom: 10px;
}

input {
  border: 5px solid black;
  line-height: 40px;
  width: 98%;
  border-radius: 15px;
  margin-bottom: 10px;
}

textarea {
  border: 5px solid black;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

button {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  line-height: 30px;
  border: 5px solid black;
  font-size: 1.2rem;
}

button:hover {
  background-color: pink;
  font-weight: bolder;
}
#pesquisa-post {
  margin-left: 15px;
}

body {
  margin-left: 25vw;
  width: 50vw;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  border: 1px black solid;
}

a {
  text-decoration: none;
  color: white;
}

::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}

#lista-post {
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

#busca-post {
  background-color: purple;
  height: 10vh;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 4%;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.post {
  background-color: white;
  width: 90%;
  margin-bottom: 5%;
  border-radius: 15px;
  border: 5px solid black;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: purple;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 5px solid black;
}

nav {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputBusca {
  border: 5px solid black;
  line-height: 40px;
  width: 97%;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left: -10px;
}

footer {
  background-color: purple;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 5px solid black;
  color: white;
  text-align: center;
  height: 5vh;
  padding-top: 10px;
}

.nenhumPost {
  background-color: white;
  width: 90%;
  margin-bottom: 5%;
  border-radius: 15px;
  border: 5px solid black;
  height: 10vh;
  text-align: center;
  padding-top: 35px;
}

.icone {
  color: white;
  border: 5px solid white;
  border-radius: 10px;
}

.icone:hover {
  background-color: purple;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 80%;
  max-width: 800px;

  border-radius: 4px;
}
.modal-actions {
}

.bg-error {
  background-color: red;
}

.bg-success {
  background-color: green;
}

.flex {
  background-color: black;
  width: 25%;
  text-align: center;
  display: flex;
  margin-left: 35%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
