form {
  background-color: purple;
  margin-left: 25vw;
  width: 100vw;
  padding: 15px;
  align-content: center;
  text-align: center;
  align-items: center;
}

label {
  color: white;
  background-color: white;
  color: black;
  border-radius: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 40px;
  border: 2px solid black;
  width: 95%;
}

input {
  border: 2px solid black;
  line-height: 35px;
  width: 95%;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  border: 2px solid black;
  width: 95%;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 30%;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  line-height: 30px;
}

button:hover {
  background-color: pink;
  font-weight: bolder;
}
#pesquisa-post {
  margin-left: 15px;
}

::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}
